.common-table {
  width: 1300px;
  margin: 50px;
  text-align: center;
  border-spacing: 0;
}

.common-table-header-column {
  border-bottom: 1px solid #e8e8e8;
  padding: 0;
  font-size: 16px;
  padding: 10px 5px;
  font-weight: bold;
  text-align: center;
}

.common-table-row:hover {
  background-color: #eceaea;
  cursor: pointer;
}

.common-table-column {
  padding: 10px 5px;
  text-align: center;
}

.list.close {
  animation-duration: 0.2s;
  animation-name: slide-out;
  min-width: 30px;
  width: 30px;
}
.list.open {
  animation-duration: 0.2s;
  animation-name: slide-in;
  min-width: 382px;
  width: 382px;
}
.list .hover-close {
  align-items: center;
  background-color: #aab1bc;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  position: absolute;
  right: -13px;
  top: 50%;
  transition: 0.2;
  width: 32px;
  z-index: 100;
}
.hover-close.open.hide {
  display: none;
}
.hover-close img {
  height: 16px;
  transform: rotate(180deg); /*접기버튼을 열기버튼으로 돌려준다.*/
  width: 16px;
}
.hover-close.open img {
  transform: none;
}
.list .content {
  height: calc(100% - 50px);
  overflow-y: auto;
  width: 100%;
}

.open img {
  transform: rotate(180deg); /*화살표 아이콘 방향돌리기 */
}

.content {
  overflow: hidden;
  transition: max-height 0.3s ease-out; /*애니메이션 속성 설정해주기*/
}
